@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Custom properties*/
:root {
    --dark-color: #2d2c2c;
    --purple-solid: #1f3a93;
    --purple-transparent: rgba(31, 58, 147, .7);
    --purple-transparent-alt: rgba(137, 196, 244, .7);
    --purple-light: #8f50fb;
    --yellow-solid: #fa9e2c;
    --gradient-color: linear-gradient(to right, var(--yellow-solid), var(--purple-light));
    --gradient-color-alt: linear-gradient(to right, var(--purple-light), var(--yellow-solid));
}

/*Global Styles*/
html{
	font-size: 10px;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	color: var(--dark-color);
}

a{
	text-decoration: none;
	color: inherit;
}
a:hover{
	text-decoration: none;
}
ul{
	list-style: none;
}

section {
	padding: 5rem 0;
}

/*Reusable Styles*/

/*.btn{
	color: white;
	font-size: 1.3rem;
	font-weight: bold;
	text-transform: uppercase;
	padding: .5rem 3.5rem;
	border: none;
	border-radius: 10rem;
	display: inline-flex;
	align-items: center;
}*/

.btn{
	align-items: center;
	text-align: center;
	margin: auto;
	color: white;
}

.container-1{
	width: 100%;
	max-width: 120rem;
	padding: 0 1.5rem;
	margin: 0 auto;
}

/*Header Styles*/
.header{
	width: 100%;
	height: 6rem;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--purple-transparent);
	z-index: 999;
}

.header.active{
	background-color: var(--purple-solid);
}

/*Header styles - nav*/
.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	font-size: 2rem;
	color: orange;
	font-family: 'Nunito', sans-serif;
	text-decoration: none;
}
.logo:hover{
	text-decoration: none;
	color: #FC6A03;
}

.hamburger-menu{
	font-size: 2.6rem;
	color: #fff;
	cursor: pointer;
	position: relative;
	z-index: 1500;
}

.hamburger-menu .fa-times{
	display: none;
}

.menu-open .hamburger-menu .fa-times{
	display: block;
}

.menu-open .hamburger-menu .fa-bars{
	display: none;
}

.nav-list {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: var(--purple-solid);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1400;
	opacity: 0;
	transform: scale(0);
	transition: opacity .5s;
}

.menu-open .nav-list{
	opacity: 1;
	transform: scale(1);
}

.nav-item:not(:last-child){
	margin-bottom: .5rem;
}

.nav-link {
	display: block;
	color: #fff;
	font-size: 3rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 1rem;
}


/*Hero Section Styles*/
.hero {
	width: 100%;
	height: 100vh;
	background: url("../images/graduation.jpg"); center no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	text-align: center;
	position: relative;
	z-index: 0;
}

.hero::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	background-color: var(--purple-transparent-alt);
	z-index: -1;
}

.main-heading{
	color: white;
	line-height: 1;
	text-shadow: 1px 1px 1rem rgba(0,0,0,.5);
	margin-bottom: 2.5rem;
}

.title{
	font-size: 4.8rem;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.subtitle{
	font-size: 3.6rem;
	font-weight: 300;
	font-family: 'Courgette', cursive;
	color: orange;
	text-decoration: none;
}
.subtitle:hover{
	color: white;
}

.subtitle-2{
	font-size: 2rem;
	font-weight: 300;
	font-family: 'Courgette', cursive;
	color: orange;
}

#footer{
	position:fixed;
   bottom:0;
   width:100%;
   background: rgba(31, 58, 147);
   font-size: 1.2rem;
}
.footer-malaya{
	color: orange;
}

.profile {
	width: 300px;
	margin-left: 13%;
	margin-right: 10%;
}



/*Media Queries*/
@media screen and (max-width: 320px){
	.profile {
	width: 300px;
	margin-left: 3%;
	margin-right: 5%;
	}
}
@media screen and (min-width: 768px){
	.header {
		height: 10rem;
	}
	.header.active{
		height: 6rem;
	}
	/*Hero section*/
	.title{
		font-size: 8rem;
	}

	.logo{
		font-size: 3.5rem;
	}
	.subtitle{
		font-size: 6rem;
	}
	.subtitle-2{
		font-size: 4rem;
	}

	.profile {
	width: 600px;
	/*margin: auto;*/
	margin-left: 11%;
	margin-right: 5%;
	}
	#footer{
		font-size: 1.8rem;
	}
}

@media screen and (min-width: 1000px){
	section:not(.booking){
		padding: 10rem 0;
	}
	/*header section*/
	.hamburger-menu{
		display: none;
	}
	.nav-list{
		position: initial;
		width: initial;
		height: initial;
		background-color: transparent;
		flex-direction: row;
		justify-content: initial;
		opacity: 1;
		transform: scale(1);
	}
	.nav-item:not(:last-child){
		margin-right: 3rem;
		margin-bottom: 0;
	}
	.nav-link{
		font-size: 1.3rem;
		font-weight: normal;
		transition: color .5s;
	}
	.nav-link:hover{
		color: var(--yellow-solid);
	}
	/*Hero section*/
	.title{
		font-size: 12rem;
	}
	.sub-title{
		font-size: 6rem;
	}

	.profile {
	width: 600px;
	margin-left: 50%;
	margin-right: 5%;
	}

}

@media screen and (min-width: 1200px){
	.book-form .input-group:first-child{
		flex: 0 0 30%;
	}

}