@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Custom properties*/
:root {
    --dark-color: #2d2c2c;
    --purple-solid: #350a4f;
    --purple-transparent: rgba(53, 10, 79, .7);
    --blue-transparent-alt: rgba(137, 196, 244, .7);
    --blue-light: #013243;
    --blue-solid: #22313f;
    --gradient-color: linear-gradient(to right, var(--blue-solid), var(--blue-light));
    --gradient-color-alt: linear-gradient(to right, var(--blue-light), var(--blue-solid));
}

body{
	/*background: #fff;*/
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero {
	width: 100%;
	height: 100vh;
	background: url("../images/graduation.jpg"); center no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	text-align: center;
	position: relative;
	z-index: 0;
}

.hero::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	background-color: var(--blue-transparent-alt);
	z-index: -1;
}

.container{
	max-width: 400px;
	border-radius: 20px;
}

.card{
	border-radius: 20px;
	height: 600px;
	background-image: linear-gradient(to right, #0084ff, #89c4f4);
	border: none;
	overflow: hidden;
	box-shadow: 0 5px 8px #414141;
	z-index: 0;
	box-sizing: border-box;
}

.circle{
	position: absolute;
	bottom: -230px;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	clip-path: circle(50%);
	height: 700px;
	width: 700px;
	z-index: -1;
	overflow: hidden;
}

.myHed{
	margin-top: 30px;
	font-size: 30px;
	margin-bottom: 10px;
	font-weight: 700;
	background-image: linear-gradient(to right, #0084ff, #89c4f4);
	color: orange;
	-webkit-background-clip: text;
	background-clip: text;
}

.fa-user{
	color: #0084ff;
}
.far{
	font-size: 40px;	
}
.fas{
	position: relative;
	display: block;
	left: -87px;
	top: 30px;
	color: white;	
}

.button{
	width: 250px;
	border-radius: 25px;
	background-image: linear-gradient(to right, #0084ff, #89c4f4);
	color: white;
	font-weight: 700;
	cursor: pointer;
}
.myInput{
	width: 220px;
	padding: 10px;
	padding-left: 40px;
	border-radius: 25px;
	background-image: linear-gradient(to right, #0084ff, #89c4f4);
	color: white;
	border: none;
	display: block;
}

.myInput::placeholder{
	color: white;
	opacity: 0.6;
}
.myInput:focus{
	border: none;
	outline: none;
}
.check_1{
	font-weight: 500;
	color: rgb(85,85,85);
	font-size: 12px;
	margin: 15px auto;
	cursor: pointer;
}

#btn-login {
	padding: 5px 15px;
	border: none;
	border-radius: 5px;
	background-color: orange;

}

@media (min-width: 768px) {
	.container{
		max-width: 50%;
	}
}

@media screen and (min-width: 1000px) {
	.container{
		max-width: 30%;
	}
}