@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/**,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}*/

/*Custom properties*/
/*:root {
    --dark-color: #2d2c2c;
    --purple-solid: #1f3a93;
    --purple-transparent: rgba(31, 58, 147, .7);
    --purple-transparent-alt: rgba(137, 196, 244, .7);
    --purple-light: #8f50fb;
    --yellow-solid: #fa9e2c;
    --gradient-color: linear-gradient(to right, var(--yellow-solid), var(--purple-light));
    --gradient-color-alt: linear-gradient(to right, var(--purple-light), var(--yellow-solid));
}
*/
/*body{
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	/*background: rgba(137, 196, 244, .7);*/
/*}*/

a{
	text-decoration: none;
	color: inherit;
}
ul{
	list-style: none;
}

.container-1{
	max-width: 700px;
	width: 100%;
	background: #fff;
	padding: 25px 30px;
	border-radius: 5px;
	box-shadow: 0 5px 8px #414141;
	margin: auto;
}

.container-1 .title-1{
	font-size: 30px;
	font-weight: 500;
	text-align: center;
	font-weight: bold;
}


.container-1 form .user-details{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0 12px 0;
}
form .user-details .input-box{
	margin-bottom: 15px;
	width: calc(100% / 2 - 20px);
}
.user-details .input-box {
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}
.details {
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
	color: orange;
}
.user-details .input-box input{
	height: 45px;
	width: 100%;
	outline: none;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding-left: 15px;
	font-size: 16px;
	border-bottom-width: 2px;
	transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:focus{
	border-color: #89c4f4;
}

form .gender-details .gender-title{
	font-size: 20px;
	font-weight: 500;
}
form .gender-details .category{
	display: flex;
	width: 80%;
	margin: 14px 0;
	justify-content: space-between;
}

.gender-details .category label{
	display: flex;
}

form .button{
	height: 45px;
	margin: 45px 0;
}
form .button input{
	height: 100%;
	width: 100%;
	outline: none;
	color: white;
	border: none;
	font-size: 18px
	font-weight: 500;
	border-radius: 5px;
	letter-spacing: 1px;
	background: linear-gradient(135deg, #0084ff, #89c4f4);
}
form .button input:hover{
	background: linear-gradient(-135deg, #0084ff, #89c4f4);
}



/*Media Queries*/

@media (max-width: 584px){
	.container-1{
		max-width: 90%;
	}
	form .user-details .input-box{
		margin-bottom: 15px;
		width: 100%;
	}
	form .gender-details .category{
		width: 100%;
	}
	.container-1 form .user-details{
		max-height: 300px;
		overflow-y: scroll;
	}
	.user-details::-webkit-scrollbar{
		width: 0;
	}
}

