* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

section {
	background: linear-gradient(to bottom, rgba(255,154,158,1) 9%, rgba(250,208,196,1) 80%);
	/*background-color: #E3AFBC;*/
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar {
	border-radius: 10px 10px 0 0;
	color: white;
}

#navbar {
	background-color: #9A1750;
	color: white;
}

.nav-link{
	color: white;
}

.nav-link:hover{
	color: red;
}

.jumbotron {
	border-radius: 0;
	margin: 0;
	background-color: #E3E2DF;
}

#footer {
   position:fixed;
   width:80%;
}

.footer {
	border-radius: 0 0 10px 10px;
	background-color: #9A1750;
}

.container-body {
	margin: 5% 0 5% 0;
	max-width: 90%;
	width: 75%;
	background-color: #2B65EC;
	border-radius: 8px;
	box-shadow: 5px 10px 8px #888888;
}

.container {
	background-color: #E3E2DF;
	margin-right: 0;
	margin-left: 0;
}

#footer {
   position:fixed;
   width:80%;
}

#sign-up {
	color: #9A1750;
}
#sign-up:hover {
	color: #5D001E;
}

#btn-login {
	background-color: #5D001E;
	color: white;
	border: none;
	padding: 10px 20px 10px 20px;
	border-radius: 7px;
}

.login {
	padding-bottom: 10px;
}

.book {
	background-color: #5D001E;
	color: white;
	border: none;
	padding: 10px 20px 10px 20px;
	border-radius: 7px;
	
}

#book-link {
	text-decoration: none;
	color: white;
}